.container{
  width:1000px;
  margin: auto;
}
.container:after{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}
h1{
  text-align: center;
  margin-bottom: 25px;
}
.single{
  width:33.3333%;
  float:left;
  padding: 0 5px;
  box-sizing: border-box;
}
.single:nth-child(3n+2){
  clear:both;
}
.single img{
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}
